<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @paper_product.name %>
</p>

<%= link_to 'Edit', edit_paper_product_path(@paper_product) %> |
<%= link_to 'Back', paper_products_path %>
