<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ncr_department.name %>
</p>

<%= link_to 'Edit', edit_ncr_department_path(@ncr_department) %> |
<%= link_to 'Back', ncr_departments_path %>
